[user]
	name = Pxtkn
	email = hr.zheng@outlook.com
[alias]
	co = checkout
	br = branch
	st = status
	ci = commit
	aa = add .
	cg = config --global
	cf = cat-file -p
	lf = ls-files -s
	re = remote
	cia = commit -am
[merge]
	tool = code
[mergetool "code"]
	cmd = code --wait $MERGED
[diff]
	tool = code
[difftool "code"]
	cmd = code --wait --diff $LOCAL $REMOTE
