[user]
	name = Pxtkn
	email = hr.zheng@outlook.com
[alias]
	aa = add .
	br = branch
	cf = cat-file -p
	cg = config --global
	ci = commit
	cia = commit -am
	co = checkout
	lf = ls-files -s
	re = remote
	st = status
[merge]
	tool = code
[mergetool "code"]
	cmd = code --wait $MERGED
[diff]
	tool = code
[difftool "code"]
	cmd = code --wait --diff $LOCAL $REMOTE
